version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'production'
    labels:
      - 'security'
      - 'vulnerability'
    open-pull-requests-limit: 5
